.login{
    margin-top: 20px;
    display: grid;
    justify-content: center;
}
.login>form{
    /* display: flex;
    flex-direction: column; */
    margin-left: 4px;
    margin-top: 10px;
}
.login>form>.login_buttons{
    display: flex;
    align-items: center;
    justify-content: space-between !important;

    margin-top:20px ;
}
.login>form>.login_buttons>button{
    background-color: rgb(32, 52, 69);
    color: white


}

.login>form>input{
    margin-top: 40px;
    width: 40vw;
    border: 1px solid black;


}
@media screen and (max-width:400px){
    .login>h1{
        font-size: 20px;
    }
}