

span{
    color: black;
    padding: 2px;
    margin-left:0;
    display: flex;
    justify-content:space-between


}
.MuiSvgIcon-root:hover{
    cursor: pointer;
    color: gray;
    margin-left: 0;
}

@media screen and (max-width:400px){
    .container{
        font-size: 10px;
    }
    .container>.h5,h5{
        font-size: 0.8rem !important;


    }
    .card{
        width: 5rem;
    }
    .MuiSvgIcon-root{
        font-size: 17px !important;
    }

}